@import url('https://fonts.googleapis.com/css?family=Gloock');
@import url('https://fonts.googleapis.com/css?family=Figtree');

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Basic styling */
  body {
    background-color: #f2f2f2;
  }

  h1, h2, h3 {
    font-family: 'Gloock';
  }

  h4, h5, p {
    font-family: 'Figtree';
  }

html, body {
  height: 100%;
  width: 100%;
}