@import url('https://fonts.googleapis.com/css?family=Gloock');
@import url('https://fonts.googleapis.com/css?family=Figtree');

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Basic styling */
  body {
    background-color: #DEC9E9;
  }

  h1, h2, h3 {
    font-family: 'Gloock';
  }

  h4, h5, p {
    font-family: 'Figtree';
  }

html, body {
  height: 100%;
  width: 100%;
}

.pink {
  color: #DEC9E9;
}

.bg-pink {
  background-color: #DEC9E9;
}

.purple {
  color: #A06CD5;
}

.bg-purple {
  background-color: #A06CD5;
}