.body {
    background-color: #DEC9E9;
    width: 100%;
    height: 100%;
}

.navButtons {
    display: flex;
    align-items: center;
    width: 40%;
    margin: 0px auto;
    justify-content: flex-end;
}

/* Bootstrap gives it 1rem */
.navButtons p {
    margin: 0px;
}

.firstSection {
    background-color: #DEC9E9;
    padding: 32px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstSection > p {
    margin-top: 16px;
}

.secondSection {
    background-color: #DEC9E9;
    padding: 16px 0px;
}

.form {
    margin: 32px;
    width: 60%;
    min-width: 300px;
    max-width: 400px;
}

.form > * {
    margin: 12px;
}

.button {
    margin: 0px auto;
}

.pinkBG {
    background-color: #DEC9E9;
}

.teachersWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.teachersWrapper > * {
    padding: 20px;
}

.teachersWrapper > * {
    background-color: #DEC9E9 !important;
}

.pagination {
    margin-right: 20px;
    justify-content: flex-end;
}

.card-img-top {
    position: relative;
    height: 200px;
}